#### 5. 심사문제

L이라는 게임에서 "왜곡"이라는 스킬이 AP * 0.6 + 225의 피해를 입힙니다. 
참고로 이 게임에서 AP(Ability Power, 주문력)는 마법 능력치를 뜻합니다. 
다음 소스 코드를 완성하여 스킬의 피해량이 출력되게 만드세요.

AP: 102

참고 | 코드 완성 문제
미완성 코드가 제시되고 밑줄이 있는 문제는 코드 전체를 입력하면 안 됩니다. 반드시 밑줄에 해당하는 코드만 입력하세요.

미완성 코드가 제시되지 않고 프로그램을 만들라고 나오는 경우에만 전체 코드를 입력하면 됩니다.

In [6]:
amount = 102 * 0.6 + 225
print(amount)

286.2

#### 6.1 심사문제

다음 소스 코드를 완성하여 50, 100, None이 각 줄에 출력되게 만드세요.

print(a)
print(b)
print(c)

결과
50
100
None

In [7]:
print(50); print(100); print(None)

50
100
None

In [10]:
print(50)
print(100)
print(None)

50
100
None

#### 6.2 심사문제

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.
평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 
단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).

참고 | 심사문제에서 안내 문자열은?
input에 문자열을 지정하면 입력을 받기 전에 안내 문자열을 출력할 수 있습니다. 
하지만 심사문제에서는 입력을 받을 때 안내 문자열을 출력하면 안 됩니다.

a = int(input('숫자를 입력하세요: '))  # X 심사문제를 통과할 수 없음
a = int(input())                     # O 올바른 코드
 
a, b = map(int, input('숫자 두 개를 입력하세요: ').split()) # X 심사문제를 통과할 수 없음
a, b = map(int, input().split())                          # O 올바른 코드
따라서 input()과 같이 안내 문자열이 없는 형태로 사용해주세요.

예
입력
83 92 87 90
결과
88

입력
32 53 22 95
결과
50

In [22]:
korean, english, mathematics, science = map(int, input().split())
korean, english, mathematics, science

(83, 92, 87, 90)

In [23]:
# korean, english, mathematics, science의 평균값
(83 + 92 + 87 + 90) // 4

88

In [1]:
score = list(map(int, input('국어, 영어, 수학, 과학 점수를 입력하세요').split()))
average = sum(score) // len(score)
print(average)

88

In [24]:
korean, english, mathematics, science = map(int, input(', 로 4과목의 점수를 입력하세요').split(','))
korean, english, mathematics, science

(32, 53, 22, 95)

In [25]:
# korean, english, mathematics, science의 평균값
(32 + 53 + 22 + 95) // 4

50

#### 7.심사문제

표준 입력으로 년, 월, 일, 시, 분, 초가 입력됩니다. 
다음 소스 코드를 완성하여 입력된 날짜와 시간을 년-월-일T시:분:초 형식으로 출력되게 만드세요.

 * 부분 완성형 문제이므로 밑줄친 부분에 들어갈 코드만 제출하세요.

judge_print.py
year, month, day, hour, minute, second = input().split()

______________________________________
print(hour, minute, second, sep=':')
예
입력
1999 12 31 10 37 21
결과
1999-12-31T10:37:21

입력
2017 10 27 11 43 59
결과
2017-10-27T11:43:59

년, 월, 일, 시, 분, 초를 년-월-일T시:분:초 형식으로 출력해야 합니다. 먼저 시간은 print(hour, minute, second, sep=':')와 같이 이미 출력하고 있습니다. 따라서 날짜만 출력하면 됩니다.
날짜는 년-월-일 형식이므로 print에 year, month, day를 넣고 sep에 '-'를 지정하여 -로 구분해줍니다. 그다음에 날짜와 시간 사이에 'T'가 들어가고 한 줄로 출력될 수 있도록 end에 'T'를 지정합니다.

In [3]:
year,month,day,hour,minute,second = input().split()

In [4]:
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

2022-03-24T09:38:05

In [5]:
year,month,day,hour,minute,second = map(int, input().split())
print(f'{year}-{month:02d}-{day:02d}T{hour:02d}:{minute:02d}:{second:02d}')

2022-03-24T09:40:06

In [6]:
import datetime
now = datetime.datetime.now()
print(now)

2022-03-24 09:51:07.150440

In [7]:
now.year

2022

In [8]:
now.year, now.month, now.day, now.hour, now.minute, now.second  #옛날 스타일

(2022, 3, 24, 9, 51, 7)

In [9]:
from pytz import timezone
now = datetime.datetime.now(timezone('Asia/seoul'))
print(now)

2022-03-24 09:55:39.545711+09:00

In [46]:
year,month,day,hour,minute,second = input().split()

In [47]:
print(year, month, day, sep='-', end='')
print('T', end='')
print(hour, minute, second, sep=':')

2017-10-27T11:43:59

#### 8.심사문제

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 
국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다
(한 과목이라도 조건에 만족하지 않으면 불합격). 
다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요
(input에서 안내 문자열은 출력하지 않아야 합니다).

예
입력
90 81 86 80
결과
True

입력
90 80 85 80
결과
False

In [67]:
korean, english, mathematics, science = map(int, input().split())

In [68]:
korean >= 90 and english > 80 and mathematics > 85 and science >= 80

True

In [69]:
korean, english, mathematics, science = map(int, input().split())

In [70]:
korean >= 90 and english > 80 and mathematics > 85 and science >= 80

False

In [11]:
kor, eng, mat, sci = map(int, input().split())

In [13]:
result = (kor >= 90) and (eng > 80) and (mat > 85) and (sci >= 80)
print(result)

True