- 27.6 심사문제: 특정 문자가 들어있는 단어 찾기

<pre>
문자열이 저장된 words.txt 파일이 주어집니다(문자열은 한 줄로 저장되어 있습니다). words.txt 파일에서 문자 c가 포함된 단어를 각 줄에 출력하는 프로그램을 만드세요. 단어를 출력할 때는 등장한 순서대로 출력해야 하며 ,(콤마)와 .(점)은 출력하지 않아야 합니다.

judge_file.py


words.txt
Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.

표준 출력
dictator
subjects
change
costume
elegance
accepted
</pre>

In [13]:
file = open('words.txt', 'w')
file.write('Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.')
file.close()

In [ ]:
#문제풀이
#코랩에서 작업시 문서업로드
from google.colab import files
up = files.upload()

In [3]:
#문제풀이
with open('words.txt') as file:
    words = file.read()
for word in words.split():
    word = word.strip(',.').lower()
    if 'c' in word:
        print(word)

dictator
subjects
change
costume
elegance
accepted

In [30]:
with open('words.txt','r') as file:
    for line in file:
        words = line.split()
        for word in words:
            if 'c' in word:
                print(word.strip(',.'))

dictator
subjects
change
costume
elegance
accepted

- 29.4 심사문제: 사칙 연산 함수 만들기

<pre>
표준 입력으로 숫자 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과가 출력되게 만드세요. 이때 나눗셈의 결과는 실수라야 합니다.

judge_function.py
x, y = map(int, input().split())

________________
________________

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

예
입력
10 20
결과
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

입력
40 8
결과
덧셈: 48, 뺄셈: 32, 곱셈: 320, 나눗셈: 5.0

In [4]:
#문제풀이
x, y = map(int, input().split())

def calc(x,y):
    return x+y, x-y, x*y, float(x/y)

a,s,m,d = calc(x, y)
print(f'덧셈: {a}, 뺄셈: {s}, 곱셈: {m}, 나눗셈: {d}')

덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

In [72]:
def calc(x,y):
    return x + y, x- y, x* y, x / y 

x,y = map(int,input().split())

a, s, m, d = calc(x,y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

- 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

<pre>
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

judge_function_argument.py
korean, english, mathematics, science = map(int, input().split())


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
예
입력
76 82 89 84
결과
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

입력
89 92 73 83
결과
낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50

In [5]:
#문제풀이
korean, english, mathematics, science = map(int, input().split())
def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):
    return sum(kwargs.values()) / len(kwargs)

In [6]:
min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'  #옛날방식
      .format(min_score, max_score, average_score))
print(f'낮은 점수: {min_score:.2f}, 높은 점수: {max_score:.2f}, 평균 점수: {average_score:.2f}')    #현재
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [88]:
a = list(map(int, input().split()))
min_score = a[0]
for i in a:
    if i < min_score:
        min_score = i
min_score

76

In [89]:
max_score = a[0]
for k in a:
    if k > max_score:
        max_score = k
max_score

89

In [90]:
avg_score = (a[0] + a[1] + a[2] + a[3]) / 4
avg_score

82.75

In [91]:
def min_max_score(scores):
    return print(f'낮은점수: {min_score:.2f}, 높은점수: {max_score:.2f}, 평균점수: {avg_score:.2f}')

min_max_score(a)

낮은점수: 76.00, 높은점수: 89.00, 평균점수: 82.75

- 31.5 심사문제: 재귀호출로 피보나치 수 구하기

<pre>
표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30). 
다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 출력되게 만드세요.

피보나치 수는 0과 1로 시작하며, 다음 번 피보나치 수는 바로 앞의 두 피보나치 수의 합입니다.

n
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21...
결과
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946...
judge_fibonacci_number.py


n = int(input())
print(fib(n))
예
입력
10
결과
55

입력
20
결과
6765

In [8]:
#문제풀이
def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fib(n-1) + fib(n-2)

n= int(input())
print(fib(n))

55

In [2]:
def fibo(n):
    if n == 1 or n == 0:
        return 1
    return fibo(n-1) + fibo(n-2)

n = int(input())

fibo(n)

89

- 32.5 심사문제: 파일 이름을 한꺼번에 바꾸기

<pre>
표준 입력으로 숫자.확장자 형식으로 된 파일 이름 여러 개가 입력됩니다. 
다음 소스 코드를 완성하여 파일 이름이 숫자 3개이면서 앞에 0이 들어가는 형식으로 출력되게 만드세요. 
예를 들어 1.png는 001.png, 99.docx는 099.docx, 100.xlsx는 100.xlsx처럼 출력되어야 합니다. 
그리고 람다 표현식을 사용해야 하며 출력 결과는 리스트 형태라야 합니다. 람다 표현식에서 파일명을 처리할 때는 문자열 포매팅과 문자열 메서드를 활용하세요.

judge_lambda.py
files = input().split()
 
print(________________)

예
입력
1.jpg 10.png 11.png 2.jpg 3.png
결과
['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

입력
97.xlsx 98.docx 99.docx 100.xlsx 101.docx 102.docx
결과
['097.xlsx', '098.docx', '099.docx', '100.xlsx', '101.docx', '102.docx']

In [18]:
#문제풀이 - ['001.jpg', '010.png' '011.png', '002.jpg', '101.png'] 
#앞부분, 뒷부분으로 나눈다.(split) --> 숫자로 바꾸고(int) 포매팅(f'') --> 03d

files = '1.jpg', '10.png' '11.png', '2.jpg', '101.png'

filename = '1.png'
num = int(filename.split('.')[0])       #filename을 '.'으로 나눈다,  . 앞에순서 [0]
ext = filename.split('.')[1]            # . 뒤에순서[1]
f'{num:03d}.{ext}'

'001.png'

In [19]:
def change_fname(s):      
    num = int(s.split('.')[0])
    ext = s.split('.')[1]
    return f'{num:03d}.{ext}'

In [20]:
change_fname('10.jpg')

'010.jpg'

In [24]:
list(map(change_fname, files))

['001.jpg', '010.png11', '002.jpg', '101.png']

In [ ]:
list(map(lambda s: f'{num:03d}.{ext}', files))      #num, ext 자리에 위 식 치환

In [25]:
list(map(lambda s: f"{int(s.split('.')[0]):03d}.{s.split('.')[1]}", files))

['001.jpg', '010.png11', '002.jpg', '101.png']

### 연습문제
<pre>
다음 리스트에서 제조사(manufacturer)와 모델명(model)을 분리해서 별도의 리스트를 각각 만드세요.
</pre>

In [37]:
cars = ['buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino']

lsit(map(f'{제조사:모델명}'))

In [64]:
car_name = 'buick skylark 320'
manu = car_name.split()[0]
model = car_name.split()[1:]
manu, model

('buick', ['skylark', '320'])

In [67]:
def car_list(x):
    manu = car_name.split()[0]
    model = car_name.split()[1:]
    return f'{manu: model}'

ValueError: Invalid format specifier

In [68]:
#문제풀이

cars = ['buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino']
manufacturer = list(map(lambda x: x.split()[0], cars))
manufacturer

['buick', 'plymouth', 'amc', 'ford']

In [70]:
car = 'buick skylark 320'
m = car.split()[1:]         #리스트를 스트링으로 바꾸기
' '.join(m)                 #스트링으로 변환

'skylark 320'

In [75]:
model = list(map(lambda x: ' '.join(x.split()[1:]), cars))
model

['skylark 320', 'satellite', 'rebel sst', 'torino']

In [77]:
list(map(car_list(), cars))
list(map(lambda x: f'{제조사: 모델명}', cars))
list(map(lambda x: f'{' '.join(x.split()[0]), cars))}: {' '.join(x.split()[1:]), cars))}', cars))

SyntaxError: f-string: expecting '}' (Temp/ipykernel_17948/2292067244.py, line 3)

In [ ]:
list(map(lambda x: f'{' '.join(x.split()[0]), cars))}: {' '.join(x.split()[1:]), cars))}', cars))