# Unit 22. 리스트와 튜플
#### 22.1 리스트 조작

In [1]:
# sum은 함수(function)
a = [1, 3, 5, 7, 9]
sum(a)              #괄호안에 쓰는것

25

In [2]:
#append는 메소드(method)
a.append(11)            #이런형식 a.블라블라 --> 메소드 (:뒤에다가 11을 추가를해라)
a

[1, 3, 5, 7, 9, 11]

- 리스트에 요소 추가
<pre>
append: 요소 하나를 추가
extend: 리스트를 연결하여 확장
insert: 특정 인덱스에 요소 추가
</pre>

In [3]:
a = [10,20,30]
a.append(500)       #list에 500숫자 추가
a

[10, 20, 30, 500]

In [4]:
# 솟수(prime number) - 2, 3, 5, 7, 11, ...
prime_numbers = []      #빈리스트만들기

def is_prime_number(num):
    if num == 2:
        return True            #솟수면 true 아니면 false
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for i in range(2,101):
    if is_prime_number(i):
        prime_numbers.append(i)     #빈리스트에 append 로 채워넣는 것
print(prime_numbers)                #append 일반적으로 list로 사용하는 경우

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [5]:
# 1에서 100까지 7의배수 리스트 만들기
multiple7 = []
for i in range(1,101):
    if i % 7 == 0:
        multiple7.append(i)
multiple7

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [6]:
a = [10,20,30]
a.append([100,200])         #리스트를 append 하는것 : 중첩 리스트 형태
a

[10, 20, 30, [100, 200]]

In [8]:
b = [10,20,30]
b.extend([100,200])         #extend : 리스트확장 (잘안사용함)
b

[10, 20, 30, 100, 200]

In [9]:
c = [10,20,30]
c.insert(0, 100)    # index, element : 어디에다가 무엇을 넣을것인지 (0자리에, 100을 추가한다) --> 잘안사용함
c

[100, 10, 20, 30]

- 요소 삭제
<pre>
pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
remove: 특정 값을 찾아서 삭제
</pre>

In [10]:
del c[0]        #del: 0번째 자리 요소를 지워라 --> cmd에서도 사용
c

[10, 20, 30]

In [14]:
a = [10,20,30]         #method는 뒤에 괄호를 꼭 붙여줘야함
last_value = a.pop()         # 맨마지막 자리의 요소를 삭제하면서, 그 값을 알려줘라
last_value, a           # 마지막값, 나머지 리스트

(30, [10, 20])

In [16]:
a = [10,20,30]
a.remove(20)        #remove 특정값사용 : 잘 안사용함
a

[10, 30]

- Stack(Last-In, First-Out)
- Queue(First-in, First-Out)

- 특정 값의 인덱스

In [20]:
a = [10,20,30,20,40]
a.index(20)                 #가장 처음찾은 20의 index를 알려준다 --> 특정값찾기

1

- 특정 값의 갯수

In [21]:
a.count(20)

2

- 리스트이 순서 뒤집기

In [24]:
a = [10,20,30,40,50]
a.reverse()         #메소드 .reverse 는 자기자신을 변화시킴
a

[50, 40, 30, 20, 10]

In [30]:
a = list(reversed(a)) 
a                     #함수(데이터프레임) reversed는 거꾸로된 결과값만 보여주는 것

[10, 20, 30, 40, 50]

In [31]:
a[::-1]                 #리스트안의 요소 :처음부터 :끝까지 -1씩 수를 줄여나가라

[50, 40, 30, 20, 10]

- 정렬(Sort)

In [32]:
a = [10,20,50,30,40]
a.sort()
a

[10, 20, 30, 40, 50]

In [35]:
#반복문으로 sort 구현
a = [10, 20, 50, 30, 40, 5, 25]
for i in range(len(a)-1):
    for k in range(i+1, len(a)):
        if a[i] > a[k]:
            a[i], a[k] = a[k], a[i]
a

[5, 10, 20, 25, 30, 40, 50]

In [36]:
a = [10, 20, 50, 30, 40, 5, 25]
a.sort()                            #올림차순(ascending order)
a

[5, 10, 20, 25, 30, 40, 50]

In [37]:
a = [10, 20, 50, 30, 40, 5, 25]
a.sort(reverse=True)                #내림차순(desceding order)
a

[50, 40, 30, 25, 20, 10, 5]

In [43]:
# 다음중 상위 점수 3개
import random
numbers = []
for i in range(30):
    numbers.append(random.randint(1,100))
print(numbers)

[38, 13, 16, 60, 2, 51, 46, 10, 78, 86, 73, 59, 46, 17, 70, 9, 6, 35, 26, 13, 48, 42, 53, 40, 89, 56, 25, 53, 90, 93]

In [50]:
numbers.sort(reverse=True)      #30개 뽑은 요소를 내림차순으로 sorting(정렬) 한뒤
numbers[:3]                     #앞에서부터 3개를 가져온다

[93, 90, 89]

In [51]:
sorted(numbers, reverse=True)[:3]                 #sorted 는 함수

[93, 90, 89]

- 리스트의 모든 요소 삭제 : .clear()

In [52]:
a = [10,20,30]
a.clear()
a

[]

- 리스트의 슬라이스

In [54]:
a = [10,20,30]
a.append([400,500])
a

[10, 20, 30, [400, 500]]

In [55]:
a = [10,20,30]
a.extend([400,500])
a

[10, 20, 30, 400, 500]

In [57]:
a = [10,20,30]
a[len(a):] = [400, 500]     #슬라이스를하면 펼쳐진다
a

[10, 20, 30, 400, 500]

In [58]:
a = [10,20,30]
a[1:1] = [500,600]
a

[10, 500, 600, 20, 30]

In [59]:
a = [10,20,30]
a[3] = 50           #인덱스에러

IndexError: list assignment index out of range

In [61]:
a = [10,20,30]
a[3:] = [50, 60]    #잘 사용 안함
a

[10, 20, 30, 50, 60]

### 22.2 리스트의 할당과 복사

In [62]:
a = [0, 0 ,0]       # 리스트의 값이(객체가)
b = a               #b의 위치가 a와 같게   -->  할당

In [63]:
b[1] = 10           #1의 위치를 10으로 변경
b

[0, 10, 0]

In [64]:
# side effect로 의도하지 않았던 a 값이 변경됨
a

[0, 10, 0]

In [66]:
a is b          #객체가 같은가?

True

- 리스트의 복사 .copy

In [73]:
# shallow copy          --> 1차원 카피
a = [0,0,0]
b = a.copy()
b[1] = 20           #b의 1자리 수를 20으로 바꾼다
b

[0, 20, 0]

In [68]:
a                   #a는 안바뀜

[0, 0, 0]

In [71]:
# 2차원 이상에서는 Deep copy가 필요함
a =[[0,0],[0,0]]        #리스트를 리스트할수있음
b = a.copy()
b[1][1] =30         # 두번째리스트의 두번째값
b

[[0, 0], [0, 30]]

# 22.3 반복문과 리스트

In [74]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [75]:
for index, item in enumerate(fruits):
    print(index, item)

0 apple
1 banana
2 cherry

In [76]:
#반복문으로 요소를 출력할 때 인덱스도 함께 출력하려면 enumerate를 사용
for index, item in enumerate(fruits, start=1):
    print(index, item)

1 apple
2 banana
3 cherry

In [77]:
for i in range(len(fruits)):
    print(i, fruits[i])             #옛날방식의 for문

0 apple
1 banana
2 cherry

# 22.4 min, max, sum

In [79]:
a = [38,21,53,62,19]
smallest =a[0]                  #첫번째값은 smallset라고 지칭
for i in a:
    if i < smallest:
        smallest = i
smallest

19

In [82]:
largest = 0 
for i in a:
    if i > largest:
        largest = i
largest

62

In [83]:
min(a), max(a)

(19, 62)

In [84]:
sum(a)

193

### 22.5 리스트 표현식(comprehension)

- [식 for 변수 in 리스트]
- [식 for 변수 in 리스트 if 조건식]

In [85]:
# 1에서 10까지 제곱수로 된 리스트 만들기
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
#리스트 표현식
sq_list = [i*i for i in range(1,11)]
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
odd_sq_list = []
for i in range(1,11):
    if i % 2 == 1:
        odd_sq_list.append(i*i)
odd_sq_list

[1, 9, 25, 49, 81]

In [89]:
odd_sq_list = [i*i for i in range(1,11) if i % 2 == 1]
odd_sq_list

[1, 9, 25, 49, 81]

In [90]:
#구구단
a = [ i * k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [91]:
a = [i * k for i in range(2,10)
                for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22.6 map 적용

In [93]:
a = [1.2, 2.5, 3.7, 4.6]
b = []
for element in a:
    b.append(int(element))
b

[1, 2, 3, 4]

In [95]:
b = list(map(int, a))
b

[1, 2, 3, 4]

In [98]:
b = [int(element) for element in a]
b

[1, 2, 3, 4]

In [99]:
# a의 제곱수로 된 리스트
sq_a = []
for element in a:
    sq_a.append(element*element)
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [100]:
#리스트 표현식으로
sq_a = [element*element for element in a]               #파이썬스러운 코드
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [102]:
#map 적용
def square(x):
    return x*x

square(5)

25

In [103]:
sq_a = list(map(square, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [104]:
#익명(lambda) 함수와 map 적용
sq_a = list(map(lambda x: x*x, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]