# Unit23. 2차원 리스트
#### 23.1 2차원 리스트

In [1]:
a =[[10,20,],[30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
print(a)

[[10, 20], [30, 40], [50, 60]]

In [7]:
from pprint import pprint
pprint(a, indent=2, width=20)       #indent 들여쓰기

[ [10, 20],
  [30, 40],
  [50, 60]]

In [8]:
import numpy as np
b = np.arange(1,7).reshape(3,2) * 10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [12]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열', '둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [14]:
# 2차원 리스트의 인덱싱: [행인덱스][열인덱스]
a[2][1], a[-1][-1]  #행 2가있는 줄의 1이있는 열

(60, 60)

In [22]:
# 넘파이 2차언 어레이 인덱싱:  [행, 열]
b[2,1], b[-1,-1]            #제일 마지막행, 제일 마지막열

(60, 60)

In [16]:
# 데이터프레임 인덱싱: [열][행]
df['둘째열'][2]

60

- 톱니형 리스트

In [17]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

### 23.2 반복문과 2차원 리스트

In [18]:
a = [[10,20],[30,40],[50,60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [19]:
for x, y in a:
    print(x, y)     #리스트 언팩킹unpacking, 비추천

10 20
30 40
50 60

In [21]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()                         #추천방법

10 20
30 40
50 60

In [23]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

In [24]:
len(a), len(a[0]), len(a[1])

(6, 2, 3)

In [25]:
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')             #질문하기
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

#### 23.3 반복문으로 리스트 만들기

In [26]:
# [[10,11], [20,21], [30,31]]

for i in range(3):
    for k in range(2):
        print(10*(i+1)+k, end=' ')
    print()

10 11
20 21
30 31

In [28]:
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(2):
        inner_list.append(10*(i+1)+k)
    outer_list.append(inner_list)

pprint(outer_list, indent=1, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [29]:
a =[]
for i in range(3):
    for k in range(2):
        a.append(10*(i+1)+k)
a

[10, 11, 20, 21, 30, 31]

In [30]:
two_d =[]
for i in range(3):
    line = []
    for k in range(2):
        line.append(10*(i+1)+k)
    two_d.append(line)
two_d

[[10, 11], [20, 21], [30, 31]]

- 리스트 표현식

In [31]:
#바깥쪽:       [... for i in range(3)]
#안쪽:         [10*(i+1)+k for k in range(2)]
#리스트표현식: [ [안쪽] 바깥쪽 ]

[[10*(i+1)+k for k in range(2)] for i in range(3)]

[[10, 11], [20, 21], [30, 31]]

In [39]:
# [[1,2,3,4],[11,12,13,14],[21,22,23,24]] 반복문써서 만들어보기

#행 인덱스(i): 0, 2, 3 --> range(3)
#열 인덱스(k): 0,1,2,3 --> range(4)
#일반항: 10*i + k+1

#바깥쪽 [for i in range(3)]
#안쪽   [10*i+(k+1) for k in range(4)]

[[10*i+(k+1) for k in range(4)] for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [41]:
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(10*i+k+1)
    two_d.append(line)
two_d

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [42]:
[[10*i+k+1 for k in range(4)]for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [43]:
[[10*i+k for k in range(1,5)]for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

- 2차원 리스트의 정렬은 추후 데이터프레임을 이용한 정렬에서 다루겠음

In [44]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]
df = pd.DataFrame(students, columns=['name','class','number'])
df

     name class  number
0    john     C      19
1   maria     A      25
2  andrew     B       7

In [45]:
df.sort_values(by='class', inplace=True)
df

     name class  number
1   maria     A      25
2  andrew     B       7
0    john     C      19

### 23.4 2차원 리스트의 할당과 복사

In [46]:
a = [[0,0], [0,0], [0,0]]
b = a.copy()
b[1][1] = 30
b

[[0, 0], [0, 30], [0, 0]]

In [47]:
a

[[0, 0], [0, 30], [0, 0]]

In [48]:
import copy         #copy module
a = [[0,0], [0,0], [0,0]]
b = copy.deepcopy(a)
b[1][1] = 30
b

[[0, 0], [0, 30], [0, 0]]

-심사문제23
<pre>
표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 
그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다. 
이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다. 
지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).
</pre>

matrix = []
for i in range(row):
    matrix.append(list(input()))


예
입력
3 3
.**
*..
.*.

결과
2**
*43
2*1

입력
5 5
..*..
...*.
.*...
.***.
*.*..

결과
01*21
123*1
2*532
3***1
*4*31

In [80]:
import random
N = 8
mines = []
for _ in range(N):
    row = []
    for _ in range(N):
        if random.random() > 0.7:
            row.append('*')
        else:
            row.append('.')
    mines.append(row)

for row in mines:
    for element in row:
        print(element, end=' ')
    print()

* * . . * * . .
. . . * . . . .
* * * . * . * .
. . . . . * . .
* . . . . . . *
. * . . . * * .
. * . * * . . *
. * . . * . . .

In [81]:
def print_mines(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()

In [91]:
N = int(input())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(N)] for _ in range(N)]
print_mines(mines)

* . . . * .
. . * . . *
* . * * . *
. . * . . .
. . . . * .
* . * . . *

In [92]:
line = ['.']
line.append(['*']*6)
line

['.', ['*', '*', '*', '*', '*', '*']]

In [93]:
pad_mines = []
pad_mines.append(['.']*(N+2))
for row in mines:
    line = ['.']
    line.extend(row)
    '''for element in row:
        line.append(element)'''
    line.append('.')
    pad_mines.append(line)
pad_mines.append(['.']*(N+2))
print_mines(pad_mines)

. . . . . . . .
. * . . . * . .
. . . * . . * .
. * . * * . * .
. . . * . . . .
. . . . . * . .
. * . * . . * .
. . . . . . . .

In [105]:
final_mines = []
for i in range(1, N+1):
    row = []
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]) + \
                    (pad_mines[i][k-1]=='*') +                              (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row.append(str(count))
    final_mines.append(row)

print_mines(final_mines)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [100]:
final_mines = []
for i in range(1, N+1):
    row = []
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]) + \
                    (pad_mines[i][k-1]=='*') +                              (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row.append(str(count))
    final_mines.append(row)

print_mines(final_mines)

* 2 1 2 * 2
2 4 * 4 4 *
* 4 * * 3 *
1 3 * 4 3 2
1 3 2 3 * 2
* 2 * 2 2 *

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

judge_list_comprehension.py
________________
________________
________________
________________
________________
예
입력
1 10
결과
[2, 8, 16, 32, 64, 128, 256, 1024]
입력
10 20
결과
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [74]:
a = [2**n for n in range(1,11)]
a

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [75]:
del a[1], a[-1]
a

[2, 8, 16, 32, 64, 128, 256, 512]

In [77]:
a, b = map(int, input().split())
a<b

list = [2**n for n in range(a,b+1)]
del list[1],list[-2]
list

[2, 8, 16, 32, 64, 128, 256, 1024]

In [78]:
m, n = map(int, input().split())
if 1 <= m <= 20 and 10<= n <30 and m < n:
    power_list = []
    for i in range(m, n+1):
        power_list.append(2**i)
    del power_list[1], power_list[-2]   #순차적으로 지울땐 [7] 지우고 [1]지워야함
    print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [76]:
a, b = map(int, input().split())
a<b

list = [2**n for n in range(a,b+1)]
del list[1], list[-2]
list

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

- 연습문제

a+b+c = 1000, a< b <c 를 만족하고,
a*a + b*b = c*c 를 만족하는 피타고라스 수 a,b,c는?
</pre>

In [96]:
for a in range(1,333):
    for b in range(a+1,500):
        c = 1000 - a - b
        if a*a + b*b == c*c:
            print(a, b, c)

200 375 425

In [97]:
for a in range(1,1000):
    for b in range(a+1,1000):
        c = 1000 - a - b
        if a*a + b*b == c*c:
            print(a, b, c)

200 375 425

In [99]:
200*200 + 375*375 , 425*425

(180625, 180625)