# Unit24. 문자열응용

### 24.1 문자열 조작

- 변경(replace) method  --> .replace()

In [20]:
# 문자열 메소드는 자기파괴 일어나지 않음
s = 'hello, python'
s.replace('python', 'world')

'hello, world'

In [21]:
s           #기존의 내용 보존

'hello, python'

In [22]:
# 리스트의 메소드는 자기 파괴적
a = [10,20,30]
a.sort(reverse=True)

In [23]:
a

[30, 20, 10]

In [24]:
s = s.replace('python', 'world')        #많이사용되는 모양
s

'hello, world'

In [30]:
# 정규 표현식 (Regular expression)

import re                           #re(regular exprssion)를 import 한다
s = '안녕하세요? Python 코딩 강좌입니다.ㅋㅋ'
re.sub('[^A-Za-z ]',' ',s)       #패턴, 변경될 값, 문자열

'       Python            '

In [31]:
# 한글 이외에는 공백으로 변경
re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣]', ' ',s)

'안녕하세요         코딩 강좌입니다 ㅋㅋ'

- 문자열 분리(split)

In [33]:
s ='apple pear grape pineapple orange'
d = s.split()
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [34]:
s ='apple,pear,grape,pineapple,orange' #블랭크 후 ctrl+d 
d = s.split(',')
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [35]:
stopwords = ['a', 'the', 'I', 'am', 'is']       #stopwords 큰 의미없는 단어들
s = 'I am a graduate student.'
d = s.split()
d = [word for word in d if word not in stopwords]   #stopwords에 속하지 않은 단어를 빼고 배출
d

['graduate', 'student.']

- 문자열 리스트 연결(join)

In [36]:
' '.join(d)

'graduate student.'

In [38]:
' '.join('apple,pear,grape,pineapple,orange'.split(','))

'apple pear grape pineapple orange'

In [39]:
'apple,pear,grape,pineapple,orange'.replace(',',' ')

'apple pear grape pineapple orange'

In [48]:
s = 'I am a graduate student.'
' '.join(word for word in s.split() if word not in stopwords)

'graduate student.'

In [44]:
d = s.split()
sentence = []
for word in d:
    if word not in stopwords:
        sentence.append(word)
sentence

['graduate', 'student.']

In [45]:
d = s.split()
sentence = []
for word in d:
    if word not in stopwords:
        sentence.append(word)
sentence = ' '.join(sentence)
sentence

'graduate student.'

- 대소문자 변환(upper:소-->대 / lower:대-->소)

In [47]:
'Python'.lower(), 'Python'.upper()

('python', 'PYTHON')

- 공백삭제(strip, lstrip, rstrip)

In [49]:
s = '   Python  '
s.lstrip(), s.rstrip(), s.strip()   #왼쪽공백 삭제, 오른쪽공백삭제, 양쪽공백모두삭제

('Python  ', '   Python', 'Python')

- 구둣점 제거

In [50]:
s = ',=Python.!'
s.strip()

',=Python.!'

In [51]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [52]:
s.strip(string.punctuation)

'Python'

- 메소드 체이닝(method chaining): 메소드를 연결시킬 수 있다

In [55]:
s = ',=Python.!'
s.lower().strip(string.punctuation)     #메소드를 연결해서 한번에 적용시킬 수 있다.

'python'

In [62]:
s = '   123,000원'
int(s.strip().strip('원').replace(',',''))

123000

In [63]:
s = '   123,000원'
int(s.strip(' 원').replace(',',''))

123000

In [67]:
s = 'USD 1,752.37$'
float(s.strip('USD $').replace(',',''))

1752.37

- 정렬(ljust, rjust, center) : 왼쪽정렬, 오른쪽정렬, 가운데정렬 --> 홈페이지 만들때 하나하나 적용시켜줘야함

In [68]:
'python'.ljust(10)          #왼쪽정렬

'python    '

In [69]:
'python'.rjust(10)          #오른쪽정렬

'    python'

In [70]:
'python'.center(10)         #가운데정렬

'  python  '

In [71]:
'python'.center(11)

'   python  '

- 위치 찾기(find, rfind, index) --> 프로그래밍에 힌트를 준다. 패턴찾기

In [72]:
'apple pineapple'.find('pp')        #인덱스값으로 반환: 1의 자리에 있다는 것을 뜻함

1

In [73]:
'apple pineapple'.find('xy')

-1

In [74]:
s = 'A quick brown fox jumps over the lazy dog.'                #참고:알파벳26자가 다들어가있는 유명한 문장
s.find('fox')

14

In [75]:
s.find('wolf')          #찾고자하는 값이 없을땐 -1

-1

In [77]:
search = 'wolf'
if s.find(search) >= 0:
    print('문장안에 찾고자 하는 문자열이 있습니다.')
else:
    print('문장안에 찾고없을때는 문자열이 없습니다.')    #-1 범위: 찾는값이 없을때

문장안에 찾고자 하는 문자열이 없습니다.

In [78]:
'fox' in s

True

In [79]:
'apple pineapple'.rfind('pp')       #오른쪽에서 11번째 위치

11

In [80]:
'apple pineapple'.index('pp'), 'apple pineapple'.rindex('pp')

(1, 11)

In [81]:
'apple pineapple'.count('pp')

2

### 연습문제
<pre>
1. 디지털 시계(00:00 ~ 23:59)가 있다. 하룻동안 3이라는 숫자가 표시되는 시간은 몇초인가?
2. 1에서 1000까지 숫자에서 0,1,...,9는 몇번 나오나?
</pre>

In [102]:
#1.디지털시계
time = 0
for hour in range(24):
    for minute in range(60):
        display = str(hour) + ':' + str(minute)
        # display = f'{hour:02d}:{minute:02d}'
        if '3' in display:          #if display.find('3') >= 0
            time += 60
print(time)

29700

In [104]:
#2.숫자갯수
num_string = ''
for i in range(1,1001):
    num_string += str(i)

In [105]:
for i in range(10):
    count = num_string.count(str(i))
    print(i, count)

0 192
1 301
2 300
3 300
4 300
5 300
6 300
7 300
8 300
9 300

### 24.2 문자열 서식 지정자와 포매팅 사용하기: f '' :formatted string

In [106]:
s = 'python'            #문자열
f'==={s}==='

'===python==='

In [127]:
ss = 'python'            
f'==={ss:10s}==='        #앞은 스트링, 뒤에 s는 space(빈공간)

'===python    ==='

In [128]:
print('===', ss,'    ','===',sep='')

===python    ===

In [110]:
dd = 3                   #정수
f'==={dd:4d}:{dd:02d}==='    #변수명dd 에 s/d/f 앞에 숫자가 적히면 폭을나타냄. 
                            # 그 앞에 0가 나와있으면 0으로 채우라는 뜻

'===   3:03==='

In [109]:
year, month, day, hour, minute = 2022, 3, 29, 11, 36
f'오늘은 {year}-{month:02d}-{day:02d} 이고, 시간은 {hour:02d}:{minute:02d} 입니다.'

'오늘은 2022-03-29 이고, 시간은 11:36 입니다.'

In [111]:
price = 35000
f'가격: {price:,d}원'

'가격: 35,000원'

In [112]:
price = 35000
f'가격: {price:10,d}원'     #10칸중 6칸을 쓰고 나머지 4칸은 띄어쓰기

'가격:     35,000원'

In [117]:
price1, price2 = 35000, 1200000
print(f'가격1: {price1:10,d}원')
print(f'가격1: {price2:10,d}원')

가격1:     35,000원
가격1:  1,200,000원

In [119]:
price1, price2 = 35000, 1200000
print(f'가격1: {price1:,d}원')
print(f'가격1: {price2:,d}원')

가격1: 35,000원
가격1: 1,200,000원

In [120]:
import math
f'파이값은 {math.pi} 입니다.'

'파이값은 3.141592653589793 입니다.'

In [122]:
import math
f'파이값은 {math.pi:8.5f} 입니다.'      #총 8자리, 소숫점이하 5자리

'파이값은  3.14159 입니다.'

In [123]:
import math
f'파이값은 {math.pi:8.4f} 입니다.'      #자동 반올림이 일어난다

'파이값은   3.1416 입니다.'